asgiref==3.5.2
astroid==2.11.5
autopep8==1.6.0
dill==0.3.5.1
Django==4.0.5
django-crispy-forms==1.14.0
ez-setup==0.9
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysqlclient==2.1.0
platformdirs==2.5.2
pycodestyle==2.8.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.0
wrapt==1.14.1
